body { 
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: "Lato", sans-serif;
}

/* Side__Bar */

.Wrapper {
    display: flex;
}

.Side__Bar {
    height: 100vh;
    width: fit-content;
    border: 1px solid rgb(214, 213, 213);
    padding-left: 2em;
}

.Title__Side__Bar {
    padding: 2em 0.5em;
}



.Sub__Boards {
    display: flex;
    gap: 10px;
    padding-bottom: 1em;
}


.Mode__Toggle {
    display: flex;
}

.Mode__Hide {
    display: flex;
    gap: 10px;
}

/* Header */

.Header {
    width: 85%;
    height: fit-content;
    border: 1px solid rgb(214, 213, 213);

    display: flex;
    justify-content: space-between;
}

main {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

main .columns ul:hover {
    color: var(--main-color);    
}