/* main colors */

:root {
    --main-color: hsl(242 48% 58%);
    --todo-color: hsl(193 75% 59%);
    --doning-color:hsl(242 48% 58%);
    --done-color: hsl(154 68% 64% );
    --delete-color:hsl(0 78% 63%);
    --white-color: rgb(255, 255, 255);
    --balck-color: rgb(0, 0, 0); 
    --column-color: rgb(233 239 250);
}