/* Main colors */

:root {
    --main-color: hsl(242 48% 58%);
    --todo-color: hsl(193 75% 59%);
    --doing-color:hsl(242 48% 58%);
    --done-color: hsl(154 68% 64% );
    --delete-color:hsl(0 78% 63%);
    --white-color: rgb(255, 255, 255);
    --balck-color: rgb(0, 0, 0); 
    --new-column-color: rgb(233 239 250);
    --column-color: rgb(233, 239, 250, 0.5);
    --column-dark-color: #21212D;
    --nv-hr-dark-color: #2c2c38;
}

body {
    background-color: var(--white-color);
}
/* 
main {
    background-color: var(--column-color);
} */